body {
    height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #332c68;
}

.header {
    color: white;
    padding: 10px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    height: 60px;
    width: 40px;
    padding: 0px;
    margin: 0px;
}

.header .items {
    display: flex;
    gap: 12px;
    font-size: 20px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.content {
    padding-top: 0px;
    padding-bottom: 35px;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 5px;
}

.content .section {
    display: flex;
    flex: 1;
    flex-basis: 300px;
    padding: 25px;
    border-radius: 15px;
} 

.welcome {
    color: white;
    background-color: rgb(35, 20, 85);
    font-size: 40px;
    font-weight: bold;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
}

.welcome img {
    height: 20rem;
    border-radius: 10px;
}

.port {
    background-color: white;
    font-weight: bold;
    flex-direction: column;
}

.port .title {
    text-align: center;
    color: #49408a;
    font-weight: bold;
    font-size: 25px;
}

.port .items{
    color: aqua;
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    gap: 8px;
}

.port .items img{
   height: 380px;
   border-radius: 8px;
   flex-shrink: 0;
}



.about {
    background-color: grey;
}

.contact {
    background-color: white;
}

.footer {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    padding: 8px;
}