body {
    height: 100vh;
    margin: 0;
    padding: 0px 12px;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #090332;
}

.header {
    color: white;
    padding: 10px 150px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    height: 60px;
    width: 40px;
    padding: 0px;
    margin: 0px;
}

.header .logo {
    display: flex;
    gap: 12px;
    font-size: 15px;
    list-style-type: none;
    margin: 0px;
    padding: 0px; 
    align-items: center;
    font-weight: bold;
}

.header .items {
    display: flex;
    gap: 12px;
    font-size: 20px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.content {
    padding-top: 0px;
    padding-bottom: 0px;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 5px;
}

.content .section {
    display: flex;
    flex: 1;
    flex-basis: 150px;
    padding: 25px;
    border-radius: 40px;
} 

.welcome {
    color: white;
    background-color: rgb(35, 20, 85);
    font-size: 40px;
    font-weight: bold;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
}

.welcome img {
    height: 250px;
    border-radius: 10px;
}

.port {
    background-color: white;
    font-weight: bold;
    flex-direction: column;
}

.port .title {
    text-align: center;
    color: #282251;
    font-weight: 900;
    font-size: 25px;
}

.port .items{
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    gap: 8px;
    flex-wrap: wrap;
}

.port .items img{
   height: 380px;
   border-radius: 8px;
   flex-shrink: 0;
}

.about {
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-title {
    color: darkblue;
    font-size: 40px;
    font-weight: 900;
}

.about-content {
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 200px;
}

.contact {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.contact-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-between;
}

.contact-title{
    color: #030058;
    font-size: 50px;
    font-weight: 900;
}

.find-me {
    font-weight: bold;
    font-size: 25px;
    align-self: center;
}

.social{
    color: #282251;
    font-size: 25px;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.social img{
    height: 50px;
    padding: 0px;
    margin: 0px;
}

.social li{
    color: #1900a8;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    padding: 8px;
}